@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


/* Style de base pour les joueurs */
.player {
    
    position: relative;
    background: var(--card-bg);
    border-radius: 20px;
    padding: 4px 10px;
    margin: 2px 2px;
    gap: 1px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "delete name break"
        "details details details"
        "minus score plus"
        "farmLabel farmLabel farmLabel"
        "farmMinus farms farmPlus";
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
}

button {
    justify-self: center;
    height: fit-content;
    color: rgb(0, 0, 0);
}

/* Nom du joueur centré */
.player input[type="text"] {
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-area: name;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 6px;
    height: 50%;
    width: 80%;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Bouton de suppression à gauche */
.delete-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    grid-area: delete;
}

/* Détails affichés au centre */
.break {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: break;
    width: fit-content;
    font-weight: 500;
    font-size: 1.2rem;
}

/* Contrôle du score */
.score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: score;
    margin: 0;
}





@media (max-width: 768px) {
    .player input[type="text"] {
        align-self: center;
        justify-self: center;
        grid-area: name;
        background: transparent;
        border: none;
        color: var(--text-color-1);
        font-size: 1.5rem;
        padding: 6px;
        height: 50%;
        width: 80%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .farm-label {
        margin: 0;
    }
}
