


element.style{
    display: initial;
}
body {
    font-family: 'prompt', -apple-system, BlinkMacSystemFont, sans-serif;
   
   


background-size:cover; /* Taille des arrière-plans */
background-position:center; /* Position des arrière-plans */
background-repeat:no-repeat; /* Empêche la répétition */


    color: var(--text-color);
   
   max-width: 1920px;
 margin: auto;
 height: 100vh;
 width: 100%;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--text-color);
}

p {
    color: var(--text-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.card {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--neon-shadow);
}

body, html{
 
    scroll-behavior: smooth; 
}

@media (prefers-reduced-motion: reduce){
    html:focus-within {
        scroll-behavior: auto;
    }
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}

/* Overlay plein écran */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: none;
}

.hidden {
    display: none;
}

/* Overlay pour l'animation */



/* Overlay plein écran */
#winnerOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden; /* Cache les particules sortantes */
    z-index: 9999;
    pointer-events: none;
}
#winnerOverlay::after{
height: 100%;
    content: 'Bravo';
  
    color:var(--primary-color);
    display: flex;
   
    
}

.hidden {
    display: none; /* Cache l'overlay */
}

/* Style des particules */
.particle {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 10px;
    background: radial-gradient(circle, rgb(255, 255, 255), orange);
    border-radius: 50%;
    animation: particle-fly 3s ease-out forwards;
    opacity: 1;
}


/* Animation pour les particules */
@keyframes particle-fly {
    0% {
        transform: translateY(0) translateX(0) scale(2);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) translateX(calc(-50px + 100px * var(--random-x))) scale(0.5);
        opacity: 0;
    }
}




button {
    background: var(--primary-color);
    box-shadow: var(--neon-shadow);
    border: none;
    color: var(--text-color);
}

.card {
    background-color: var(--card-bg);
    box-shadow: var(--neon-shadow);
}


.container {
    justify-self: center;
    max-width: 100vw;
    margin: 0 auto;
    padding: 2px;
}

h1 {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 8px;
    text-transform: uppercase;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--neon-shadow);
}

@media (orientation: landscape) {
    #players{max-width: 100vw;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        
        overflow: hidden;
        
    }
   
}



/* .player:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 247, 255, 0.1);
} */
/* .player .delete-player {
    position: absolute;
    z-index: 4;
    top: 5%;
    right: 50%;
    transform: translatex(50%);
    grid-area: delete;
    border: none;
   
    
    background: var(--secondary-color);
    color: var(--background-color);
    font-size: 1.9rem;
} */



.score-label p{
    font-size: 1rem;
}
.score-label, .farm-label {
    color: var(--text-color);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.8;
}

.score-label {
    grid-area: name;
    margin-top: 20vh;
  
}

.farm-label {
    grid-area: farmLabel;
    margin-top: 20px;
}

.score-display {
    grid-area: score;
    margin: 1px 0;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    text-shadow: var(--neon-shadow);
    font-family: 'Digital-7', monospace;
   width: fit-content;
    animation: glow 2s infinite;
}

.farm-count {
    height: fit-content;
    justify-self: center;
    grid-area: farms;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
    width: 33%;
    background: rgba(255, 255, 255, 0.05);
 
    border-radius: 15px;
   
}

.farm-count input {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    color: var(--text-color);
    background: transparent;
    border: none;
    display: flex;
    
 
    text-align: center;
  
    width: 33%;
    height: 30px;
    padding: 0 !important;
    margin: 0;
}

button {
    background: var(--gradient);
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    
    box-shadow: 0 0 20px rgba(0, 247, 255, 0.3);
}

button.score-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
}

.minus-score {
    grid-area: minus;
}

.plus-score {
    grid-area: plus;
}

.farm-button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 0;
    color: white;
    background: var(--secondary-color);
    border: 2px solid var(--secondary-color);
   
}

.farm-button:hover {
    background: initial;
}

.farm-button.minus {
    grid-area: farmMinus;
}

.farm-button.plus {
    grid-area: farmPlus;
    font-size: 1.2rem;
}



.delete-player:hover {
    color: #ff0000;
    
   
}

#addPlayerBtn {
    display: block;
    margin: 10px auto;
    padding: 2px 4px;
    color: var(--text-color-2);
    background: var(--gradient);
    border-radius: 3px;
}

@media (orientation: landscape) {


    h1 {
        grid-column: 1 / -1;
    }
    #addPlayerBtn {
        display: block;
        margin: 8px auto;
        
       
        background: var(--gradient);
        border-radius: 15px;
    }
    
    .score-label{
        max-height: 4vh;
        margin-top: 1vh;
    }
}

@keyframes glow {
    0% { text-shadow: 0 0 5px var(--primary-color); }
    50% { text-shadow: 0 0 20px var(--primary-color); }
    100% { text-shadow: 0 0 5px var(--primary-color); }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Style des onglets */
footer{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    bottom: 0vh;
    z-index: 1000;
}
.tab-navigation {
    
   
    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px;
    
    padding: 8px;
}
/* Onglets fixes au bas de l'écran */
.tab-navigation.fixed-bottom {
    position: fixed;
   
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background: var(--card-bg);
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.tab-button {
    flex: 1;
    padding: 15px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 12px;
    background: var(--gradient);
    box-shadow: var(--neon-shadow);
    color: var(--text-color);
    transition: all 0.3s ease;
}

.tab-button:hover {
    transform: scale(1.1);
}

.tab-button.active {
    background: var(--gradient);
    box-shadow: var(--neon-shadow);
}


.tab-button {
    background: var(--card-bg);
    color: var(--text-color);
    border: none;
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 5vw;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tab-button.active {
    background: var(--gradient);
    box-shadow: var(--neon-shadow);
}

.tab-button:hover {
    transform: translateY(-2px);
}

/* Contenu des onglets */
.tab-content {
    width: 100%;
}

.tab-pane {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tab-pane.active {
    display: block;
    opacity: 1;
}

.winner {
    color: gold;
    font-size: 1.5rem;
    animation: winner-glow 1s infinite;
}

@keyframes winner-glow {
    0%, 100% {
        text-shadow: 0 0 10px gold;
    }
    50% {
        text-shadow: 0 0 20px gold;
    }
}


/* Style simplifié pour le panneau des paramètres */
.settings-panel {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    width: min(400px, 80%);
    max-height: 80vh;
    background: var(--card-bg);
    padding: 25px;
    border-radius: 20px 0 0 20px;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    z-index: 999;
    overflow-y: auto;
}

.settings-panel.active {
    transform: translateY(-50%) translateX(0);
}

.settings-panel h2 {
    font-size:5vw;
    text-align: center;
    margin-bottom: 25px;
    color: var(--text-color-1);
}

.settings-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}

.setting-group {
    background: rgba(255, 255, 255, 0.05);
    padding: 15px;
    border-radius: 10px;
}

.setting-group label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 8px;
    color: var(--text-color);
}

.setting-group input[type="number"],
.setting-group input[type="color"] {
    width: 90%;
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
    color: var(--text-color);
    font-size: 2rem;
}
   /* Switch Container */
.switch {
    position: relative;
    display: inline-block;
    width: 50px; /* Double de la hauteur */
    height: 25px; /* Hauteur du toggle */
}

/* Hide Default Checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider (Toggle) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
   
    transition: 0.3s;
    border-radius: 25px; /* Arrondi complet */
    box-shadow: var(--neon-shadow);
}

/* Circle inside the Slider */
.slider::before {
    position: absolute;
    content: "";
    height: 21px; /* Cercle légèrement plus petit */
    width: 21px;
    left: 2px; /* Position initiale */
    bottom: 2px;
    background: var(--background-color);
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: var(--neon-shadow);
}

/* Slider Color When Checked */
input:checked + .slider {
    background-color: var(--primary-color);
}

/* Move Circle to Right When Checked */
input:checked + .slider::before {
    transform: translateX(25px); /* Déplacement du cercle */
}

#saveSettings {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background: var(--primary-color);
    color: var(--text-color);
    cursor: pointer;
}

/* Media queries */
@media (max-width: 600px) {
    .settings-panel {
        width: 95%;
        padding: 2px;
    }
}

.settings-button {
    
    font-size: 2rem;
    cursor: pointer;
    z-index: 1000;
    background: var(--gradient);
    padding: 0px;
    width: min(15px, 2vw);
    height: min(15px, 2vw);
    min-width: 20px;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius: 20px;
    opacity: 0.8;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.settings-button:hover {
    opacity: 1;
    transform: rotate(90deg);
    box-shadow: var(--neon-shadow);
}

/* Ajustement pour les petits écrans */

@media (max-width: 768px) {
    .settings-button {
        font-size: 2rem;
        padding: 1px;
    }
    
    .player input[type="text"] {
        grid-area: name;
        background: transparent;
        border: none;
        color: var(--text-color);
        font-size: 1.5rem;
        padding: 2px;
        height: 50%;
        width: 60%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
   
    .score-label {
        grid-area: name;
        margin-top: 2vh;
    }
  
    #addPlayerBtn{
        
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 4px 6px;
            font-size: 1rem;
            background: var(--gradient);
            border-radius: 10px;
            color: var(--text-color-1);
        
    }
    .PlusPlayers{
      
       padding: 0rem 4px;
        font-size: 1.6rem;
       
      
        
    }
    button.score-button {
        width: 25px;
        height: 25px;
        border-radius: 5px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--background-color);
    }
    .farm-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 5px;
    
        font-size: 0.6rem;
        background: transparent;
        border: 2px solid var(--secondary-color);
    }
   
    
}






/* Media queries pour les petits écrans */

/* @media (min-width: 1024px) {
    .container {
       width: 100vw;
       display: flex;
       flex-direction: column;
       margin-left: 4vw;
       margin-right: 4vw;
    }
   
  
    .score-label{
        max-height: 4vh;
        margin-top: 1vh;
    }
} */



@media (max-width: 768px) {
    #accueilContainer {
       
        display: block; /* Visible seulement sur mobile */
    }
}

#accueilContainer {
    visibility: hidden;
opacity: 0;
    position: fixed; /* Couvre tout l'écran */
    top: 0;
    left: 0;

    height: 100vh;
    background: linear-gradient(45deg, #1A1A1A, #2A2A2A); /* Dégradé */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Toujours au-dessus */
}

/* Container pour gérer l'image et le bouton */
.image-container {
    position: relative;
   
}

/* Style de l'image */
.accueil {
    width: 100%; /* Remplit le container */
    
    height: 100vh;
    display: block;
}

/* Style du bouton */
.accueil-button {
    position: absolute;
    bottom: 40vh; /* Place le bouton vers le bas */
    left: 50%; /* Centre horizontalement */
    transform: translateX(-50%); /* Ajuste pour centrer précisément */
    padding: 10px 20px;
    font-size: 18px;
background: black !important;
    color: white !important;
    border: none;
    border-radius: 10px !important;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.3s;
    box-shadow: 2px 2px 10px #ff7400 !important;

}

.accueil-button:hover {
    background-color: var(--background-color);
    
}
.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}


