@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');


/* Style de base pour les joueurs */
.player {
    
    position: relative;
    background: var(--card-bg);
    border-radius: 20px;
    padding: 2px;
    margin: 2px 0;
    gap: 2px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "delete name break"
        "details details details"
        "minus score plus"
        "farmLabel farmLabel farmLabel"
        "farmMinus farms farmPlus";
    text-align: center;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

button {
    justify-self: center;
    height: fit-content;
}

/* Nom du joueur centré */
.player-name {
    grid-area: name;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

/* Bouton de suppression à gauche */
.delete-player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    grid-area: delete;
}

/* Détails affichés au centre */
.break {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: break;
    width: fit-content;
}

/* Contrôle du score */
.score-display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: score;
    margin: 0;
}

.farm-count input {
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}



@media (max-width: 768px) {
    .player input[type="text"] {
        grid-area: name;
        background: transparent;
        border: none;
        color: var(--text-color);
        font-size: 1.5rem;
        padding: 6px;
        height: 50%;
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .farm-label {
        margin: 0;
    }
}
